.destinationLanding {
    height: 100vh;
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.destinationLanding h1 {
    font-family: var(--font-signature);
    color: #fff;
    font-size: 7rem;
    letter-spacing: 3px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .destinationLanding h1 {
        font-size: 10vw;
    }
}
@media screen and (min-width: 767px) {
    .destinationLanding h1 {
        font-size: 80px;
    }
}