.tripLanding {
    height: 66vh;
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.tripLanding:after {
    mask: url('../../public/assets/curve.svg');
    -webkit-mask-image: url('../../public/assets/curve.svg');
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    bottom: -1px;
    width: 100%;
    min-width: 550px;
    backface-visibility: hidden;
    height: 50px;
}