.featuredPostSection {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}

.featuredPostSection:before {
    mask: url('../../../public/assets/diagonal.svg');
    -webkit-mask-image: url('../../../public/assets/diagonal.svg');
    content: '';
    position: absolute;
    right: 0;
    bottom: -74px;
    width: 100%;
    min-width: 3400px;
    height: 280px;
    transform: skewY(-2.5deg) scaleX(-1);
    -webkit-transform: skewY(-2.5deg) scaleX(-1);
    backface-visibility: hidden;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .featuredPostSection:before {
        height: 125px;
    }
}